@font-face {
  font-family: 'SignPainter';
  src: url('./font/sign.otf');
  src: local(':relaxed:'), url('./font/sign.otf') format('woff'),
    url('./font/sign.otf') format('truetype'),
    url('./font/sign.otf') format('svg');
  font-weight: normal;
  font-style: italic;
}

html,
body{
  background-image: url("../../../img/coffee-bg.png");
  background-repeat: repeat-y;
  background-size: 100%;
}
.wrapper{
  display: flex;
  padding-top: 140px;
  width: 100%;
  height: 870px;
  margin-bottom: 10%;
}
.bor{
  border-radius: 8px;
}
.first__menu{
  width: 40%;
  height: 830px;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url('./images/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  flex-wrap: wrap;
}
      .hot__menu{
        width:80%;
        height: 70px;
        margin-left: 10%;
        margin-top: 50px;
        border-top: 2px solid #564014;
        border-bottom: 2px solid #564014;
        text-align: center;
      }
          .hot__menu p{
            color: #564014;
            font-family: SignPainter;
            font-size: 41px;
            margin-top: 5px;
            margin-bottom: 5px;
            align-items: center;
            border-bottom: 7px solid #564014;
            border-top: 7px solid #564014;
          }
      .news{
        float: right;
        width: 290px;
        height: 120px;
        background: rgba(205, 144, 27, 0.4);
        backdrop-filter: blur(4.05903px);
        margin: 35px 20px 5px 100px;
        display: flex;
        flex-wrap: wrap;
      }
        .news .nov{
          font-size: 27px;
          font-family: SignPainter;
          font-weight: 600;
          width: 100%;
          height: 20px;
          margin: 7px 10px 0px 35px;
        } 
        .news__kinds{
          width: 72%;
          height: 60px;
          font-size: 21px;
          font-family: SignPainter;
          margin: 5px 0px 20px 10px;
          font-weight: normal;
        }
        .news__price{
          width: 20%;
          text-align: left;
          font-size: 21px;
          font-family: SignPainter;
          font-weight: 600;
          line-height: normal;
          margin-top: 5px;
          margin-left: 10px; 
        }
      .classic{
        width: 255px;
        height: 230px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(4.29053px);
        border: 0.429056px solid #FFFFFF;
        float: right;
        margin: 5px 20px 10px 100px;
        display: flex;
        flex-wrap: wrap;
      }
         .classic .cls{
           width: 100%;
           height: 18px;
           font-size: 30px;
           font-family: SignPainter;
           font-weight: 600;
           margin: 10px 50px 5px 30px;
         }
         .classic__kinds{
           font-family: SignPainter;
           font-size: 23px;
           line-height: 23px;
           font-weight: normal;
           width: 60%;
           height: 165px;
           margin:10px 10px 25px 15px;
         }
         .classic__price{
           font-family: SignPainter;
           font-family: SignPainter;
           font-size: 23px;
           line-height: 23px;
           font-weight: 600;
           width: 25%;
           height: 165px;
           margin:10px 7px 0px 0px ;
         }
      .div{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-between;
      } 
        .tea{
          width: 265px;
          height: 200px;
          background: rgba(255, 255, 255, 0.5);
          border: 0.430503px solid #FFFFFF;
          backdrop-filter: blur(4.30503px);
          display: flex;
          flex-wrap: wrap;
          margin: 73px 0px 25px 55px;
        }
        .chai{
          width: 100%;
          height: 25px;
          font-weight: 600;
          font-family: SignPainter;
          font-size: 26px;
          margin: 5px 100px 0px 70px;
        }
        .tea__kinds{
          width: 79%;
          height: 155px;
          font-family: SignPainter;
          font-size: 22px;
          line-height: 23px;
          font-weight: normal;
          margin: 5px 0px 8px 5px;
        }
        .tea__price{
          width: 10%;
          height: 155px;
          font-family: SignPainter;
          font-size: 23px;
          line-height: 23px;
          font-weight: 600;
          margin: 6px 0px 8px 15px;
        }
        .author{
          width: 255px;
          height: 273px;
          background: rgba(255, 255, 255, 0.5);
          border: 0.429056px solid #FFFFFF;
          backdrop-filter: blur(4.29056px);
          display: flex;
          flex-wrap: wrap;
          float: right;
          margin: 0px 20px 25px 15px;
        }
          .nap{
            width: 100%;
            font-family: SignPainter;
            font-size: 30px;
            font-weight: 600;
            height: 25px;
            text-align: center;
            margin: 13px 0px 0px 0px;
          }
          .author__kinds{
            width: 70%;
            height: 205px;
            font-family: SignPainter;
            font-size: 22px;
            line-height: 24px;
            font-weight: normal;
            margin: 10px 5px 15px 20px;
          }
          .author__price{
            width: 10%;
            height: 205px;
            font-family: SignPainter;
            font-size: 23px;
            line-height: 24px;
            font-weight: 600;
            margin: 10px 0px 15px 13px ;
          }
.second__menu{
  width: 40%;
  height: 830px;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url('./images/Honey.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
    .summer__menu{
      width:80%;
      height: 70px;
      margin-left: 10%;
      margin-top: 50px;
      border-top: 2px solid #17453B;
      border-bottom: 2px solid #17453B;
      text-align: center;
    }
    .summer__menu p{
      color: #17453B;
      font-family: SignPainter;
      font-size: 41px;
      margin-top: 5px;
      margin-bottom: 5px;
      align-items: center;
      border-bottom: 7px solid #17453B;
      border-top: 7px solid #17453B;
    }
    .summer__box1{
      width: 90%;
      height: 170px;
      margin: auto;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }
    .summer__box2{
      width: 90%;
      height: 170px;
      margin: auto;
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
    }
    .box{
      width: 230px;
      height: 170px;
      background: rgba(255, 255, 255, 0.5);
      border: 0.407366px solid #FFFFFF;
      backdrop-filter: blur(4.07366px);
      display: flex;
      flex-wrap: wrap;
    }
    .title{
      font-family: SignPainter;
      font-size: 26px;
      font-weight: 600;
      text-align: center;
      margin-top: 8px;
      margin-bottom: 0px; 
      width: 100%;
    }
    .v1{
      font-family: SignPainter;
      font-size: 23px;
      font-weight: normal;
      line-height: 20px;
      width: 70%;
      height: 115px;
      margin: 3px 0px 15px 13px;
    }
    .v2{
      font-family: SignPainter;
      font-size: 23px;
      font-weight: normal;
      line-height: 20px;
      width: 65%;
      height: 95px;
      margin: 3px 0px 35px 20px;
    }
    .price{
      font-weight: 600;
      font-family: SignPainter;
      font-size: 21px;
      font-weight: normal;
      line-height: 20px;
    }
    .vp1{
      width: 10%;
      height: 120px;
      margin: 3px 20px 10px 10px;
      font-weight: 600;
    }
    .vp2{
      font-weight: 600;
      width: 10%;
      height: 110px;
      margin: 3px 25px 10px 10px;
    }
.cof{
  display: none;
}
.cof2{
  display: none;
}

@media only screen and (max-device-width:1025px){
  .wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
  }
  .first__menu{
    border:3px solid #564014;
    width: 60%;
    height: 830px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url('./images/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    flex-wrap: wrap;
  }
  .second__menu{
    border: 3px solid #17453B;
    margin-top: 50px;
    width: 60%;
    height: 830px;
    margin-left: 30%;
    margin-right: 15%;
    background-image: url('./images/Honey.png');
    background-size: 100%;
    background-repeat: repeat-x;
  }
  .cof{
    width: 250px;
    height: 300px;
    position: absolute;
    margin-top: 30%;  
    margin-left: 75%;
    display: block;
  }
  .cof2{
    width: 250px;
    height: 350px;
    position: absolute;
    margin-top: 100%;
    margin-left: 2%;
    display: block;
  }
}

@media only screen and (max-device-width:769px){
  .wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
  }
  .first__menu{
    border:3px solid #564014;
    width: 80%;
    height: 830px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url('./images/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    flex-wrap: wrap;
  }
  .second__menu{
    border: 3px solid #17453B;
    margin-top: 50px;
    width: 80%;
    height: 830px;
    margin-left: 10%;
    margin-right: 15%;
    background-image: url('./images/Honey.png');
    background-size: 100%;
    background-repeat: repeat-x;
  }
  .cof{
    display: none;
  }
  .cof2{
    display: none;
  }
}

@media only screen and (max-device-width:426px){
  .cof{
    display: none;
  }
  .cof2{
    display: none;
  }
  .div{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  } 
  .first__menu{
    width: 100%;
    height: 980px;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url('./images/bg.png');
    background-size: 180%;
    background-repeat: no-repeat;
    display: inline-block;
    flex-wrap: wrap;
    border: none;
  }
  .second__menu{
    margin-top: 50px;
    border: none;
    width: 100%;
    height: 870px;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url('./images/Honey.png');
    background-size: 150%;
    background-repeat: no-repeat;
  }
  .wrapper{
    display: flex;
    padding-top: 80px;
    width: 100%;
    height: 1910px;
    padding-bottom: 0px;
  }
  .hot__menu{
    width:80%;
    height: 70px;
    margin-left: 10%;
    margin-top: 20px;
    border-top: 2px solid #564014;
    border-bottom: 2px solid #564014;
    text-align: center;
  }
      .hot__menu p{
        color: #564014;
        font-family: SignPainter;
        font-size: 41px;
        margin-top: 5px;
        margin-bottom: 5px;
        align-items: center;
        border-bottom: 7px solid #564014;
        border-top: 7px solid #564014;
      }
      .tea{
        width: 265px;
        height: 200px;
        background: rgba(255, 255, 255, 0.5);
        border: 0.430503px solid #FFFFFF;
        backdrop-filter: blur(4.30503px);
        display: flex;
        flex-wrap: wrap;
       justify-content: left;
        margin: 0px 0px 5px 20px;
      }
      .author{
        width: 255px;
        height: 273px;
        background: rgba(255, 255, 255, 0.5);
        border: 0.429056px solid #FFFFFF;
        backdrop-filter: blur(4.29056px);
        display: flex;
        flex-wrap: wrap;
        float: right;
        margin: 5px 20px 15px 150px;
      }
      .summer__box1{
        width: 90%;
        height: 360px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .cold__coffee{
        float: left;
      }
      .milk__shake{
        margin:0px 0px 0px 150px;
      }
      .summer__box2{
        width: 90%;
        height: 360px;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
      }
      .smuzi{
        margin: 0px 0px 0px 150px;
      }
      .news{
        margin: auto;
        width: 70%;
        height: 120px;
        background: rgba(205, 144, 27, 0.4);
        backdrop-filter: blur(4.05903px);
        margin-top: 15px;
        margin-left:15%;
        margin-right: 15%;
        margin-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
      }
}

@media only screen and (max-device-width:376px){
  .author{
    width: 70%;
    margin-right: 5%;
    margin-left: 25%;
    height: 273px;
    background: rgba(255, 255, 255, 0.5);
    border: 0.429056px solid #FFFFFF;
    backdrop-filter: blur(4.29056px);
    display: flex;
    flex-wrap: wrap;
  }
  .news{
    width: 75% !important;
    height: 120px !important;
    background: rgba(205, 144, 27, 0.4);
    backdrop-filter: blur(4.05903px) !important;
    margin-top: 15px !important;
    margin-right: 20% !important;
    margin-bottom: 5px !important;
    display: flex;
    flex-wrap: wrap;
  }
  .news__kinds{
    font-size: 19px !important;
    line-height: 24px !important;
    width: 72% !important;
  }
  .news__price{
    width: 15% !important;
  }
  .author__kinds{
    font-size: 18px !important;
  }
  .wrapper{
    height: 1900px;
  }
  .first__menu{
    background-size: 190% !important;
  }
  .smuzi .v2{
    font-size: 20px !important;
    width: 68% !important;
  }
  .smuzi .vp2{
    width: 2% !important;
  }
  .second__menu{
    background-size: 165% !important;
    margin-top: 30px !important;
  }
}

@media only screen and (max-device-width:321px){
  .wrapper{
    height: 1890px !important;
  }
  .hot__menu{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .news{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .classic{
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .tea{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .author{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .first__menu{
    background-size: 220% !important;
  }
  .second__menu{
    background-size: 200% !important;
    margin-top: 30px !important;
  }
  .cold__coffee{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .milk__shake{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .limonade{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .smuzi{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .summer__menu{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}