@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.contact {
  width: 100%;
  background: #1d2a40;
  text-align: center;
  color: white;
  margin: 0;

  display: flex;
  justify-content: space-around;
}
.contact_map {
  width: 30%;
  height: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 0%;
}
.form_text {
  margin-top: 45%;
  width: 60%;
  margin-left: 0%;
  color: black;
  text-align: left;
}
.contact-text {
  width: 40%;
}

.contact_body h1 {
  text-align: center;
  color: white !important;
  font-style: italic;
}
.contact_body {
  background: #1d2a40;
}
.form_text {
  height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_text > input,
textarea {
  padding: 4px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  border: 1px solid lightgray;
  font-weight: bold;
  /* border: none; */
  background: #fff;
  font-size: 20px;
  color: rgb(0, 0, 32);
  outline: none;
  margin: 0px;
}

.form_text > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form_text > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form_text > label {
  padding: 0;
  color: white;
  font-weight: bold;
}

.form_text > button {
  padding: 10px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form_text > button:hover {
  background-color: rgb(0, 0, 196);
}
@media only screen and (max-device-width: 1024px) {
  .form_text {
    margin-top: 70% !important;
    font-size: 16px;
    width: 80%;
    margin-left: 0%;
    text-align: left;

    line-height: 100%;
  }
  .contact_map {
    width: 30%;
    height: 20% !important;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 0%;
  }
  .contact-text {
    width: 30%;
    height: 270px !important;
  }
  .input {
    width: 100% !important;
    height: 30px;
  }
  .input::placeholder {
    font-size: 15px;
    text-align: left !important;
  }
  .input_textarea {
    height: 30px !important;
    font-size: 15px;
  }
}
@media only screen and (max-device-width: 768px) {
  .maps {
    width: 300px;
    height: 250px !important;
    margin-left: 10% !important;
  }
  .form_text {
    margin-top: 50% !important;
    width: 80%;
    height: 30% !important;
    margin-left: 0%;
    text-align: left;
    font-size: 14px !important;
  
    line-height: 77%;
  }
  .form_text>label{
    font-size: 10px !important;
    margin-top: 3px;
  }
  .contact-text {
    width: 30%;
    height: 270px !important;
  }
  .input {
    width: 100% !important;
    height: 15px;
  }
  .input::placeholder {
    font-size: 10px;
    color: rgb(194, 172, 172);
    text-align: left !important;
    margin-top: auto;
  }

  .form_text > button {
    font-size: 20px;
    transition: 0.2s ease-in-out;
    margin-top: 0px;
  }
  
  .form_text > button:hover {
    background-color: rgb(0, 0, 196);
  }
 

}
@media only screen and (max-device-width: 414px) {
  .maps {
    width: 200px;
    height: 190px !important;
    margin-left: -10% !important;
  }
  .form_text {
    margin-top: 50% !important;
    width: 100%;
    margin-left: 0%;
    text-align: left;
    font-size: 9px !important;
    height: 6px;
    line-height: 97%;
  }
  .contact-text {
    width: 30%;
    height: 270px !important;
  }
  .input {
    width: 80% !important;
    height: 10px;
  }
  .input::placeholder {
    font-size: 10px;
    
  }
  .input_textarea {
    height: 10vh !important;
  }
}

@media only screen and (max-device-width: 376px) {
  .maps {
    width: 150px;
    height: 190px !important;
    margin-left: -10% !important;
  }
  .form_text {
    margin-top: 6% !important;
    width: 100%;
    margin-left: 0%;
    text-align: left;
    font-size: 12px !important;
    height: 6px;
    line-height: 7%;
  }
  .contact-text {
    width: 35%;
    height: 270px !important;
  }
  .input {
    width: 100% !important;
    height: 10px;
  }
  .input::placeholder {
    font-size: 10px;
    text-align: left !important;
  }
  .input_textarea {
    height: 30px !important;
    font-size: 15px;
  }
}
@media only screen and (max-device-width: 360px) {
  .maps {
    width: 150px;
    height: 190px !important;
    margin-left: -10% !important;
  }
  .form_text {
    margin-top: 0% !important;
    width: 100%;
    margin-left: 0%;
    text-align: left;
    font-size: 12px !important;
    height: 6px;
    line-height: 7%;
  }
  .contact-text {
    width: 30%;
    height: 270px !important;
  }
  .input {
    width: 100% !important;
    height: 10px;
  }
  .input::placeholder {
    font-size: 10px;
    text-align: left !important;
    margin-top: -10px !important;
  }
  .input_textarea {
    height: 30px !important;
    font-size: 15px;
  }
}
